<h1>Page not found. ( from 404 ejs)</h1>
<footer>
  <div class="footer">
    <div class="row">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Editor's Picks</a></li>
        <li><a href="#">Best Sellers</a></li>
        <li><a href="/orders">My Orders</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>

    <div class="row">
      Made by Aditya Sharma
    </div>
  </div>
</footer>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
