@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
* {
  font-family: "Lato", sans-serif;
  transition: all 0.3s ease-in;
  margin: 0;
}

:root {
  --primary: #fe5f1e;
  --primary-hover: #b23301;
  --secondary: #f8f8f8;
  --pure: #ffffff;
  --dark: #232323;
  --gray: #cccccc;
}
nav li a:hover {
  color: var(--primary);
}
body {
  -webkit-font-smoothing: antialiased;
  color: var(--dark);
  margin-left: 1vw;
  margin-right: 1vw;
}
.cart {
  background: var(--primary);
}
.cart a i {
  color: var(--pure);
  font-size: 1rem;
}

.hero {
  background: var(--secondary);
}
.secondary-color {
  background: var(--secondary);
}
.addToCart {
  border: 2px solid var(--primary);
  color: var(--primary);
}
.addToCart:hover {
  background: var(--primary);
  border-color: var(--pure);
  color: var(--pure);
}
.Btn {
  background: var(--primary);
  border-color: var(--pure);
  color: var(--pure);
}
.Btn:hover {
  background: var(--primary-hover);
}
.card1 {
  width: 320px;
  margin-top: 1.5rem;
}
.orderButton {
  background: var(--primary);
}
.orderButton:hover {
  background: var(--primary-hover);
}
.cartPage {
  background: var(--secondary);
}
.logo {
  height: 100px;
  width: 100px;
}

.gg-shopping-cart {
  display: block;
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 21px;
  background: linear-gradient(to left, currentColor 12px, transparent 0)
      no-repeat -1px 6px/18px 2px,
    linear-gradient(to left, currentColor 12px, transparent 0) no-repeat 6px
      14px/11px 2px,
    linear-gradient(to left, currentColor 12px, transparent 0) no-repeat 0 2px/4px
      2px,
    radial-gradient(circle, currentColor 60%, transparent 40%) no-repeat 12px
      17px/4px 4px,
    radial-gradient(circle, currentColor 60%, transparent 40%) no-repeat 6px
      17px/4px 4px;
}

.gg-shopping-cart::after,
.gg-shopping-cart::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 2px;
  height: 14px;
  background: currentColor;
  top: 2px;
  left: 4px;
  transform: skew(12deg);
}

.gg-shopping-cart::after {
  height: 10px;
  top: 6px;
  left: 16px;
  transform: skew(-12deg);
}
.amount {
  color: var(--primary);
}
.orderNowBtn {
  width: 150px;
}
.loginWrapper {
  width: 30vw;
}
.primaryColor {
  color: var(--primary);
}
.primaryColor:hover {
  color: var(--primary-hover);
}
.loginPage {
  background: var(--secondary);
  min-height: calc(100vh- 86px);
  width: 100vw;
  margin-left: -1rem;
}
