<div class="detailContainer">
  <h1><%=books.name%></h1>
  <img
    src="/images/<%=books.image%>"
    class="h-40 mb-4 mx-auto"
    alt="book image"
  />
  <h4><%=books.author%></h4>
  <b><%=books.price%></b>
  <p></p>
</div>
